.landing {
  background: url(../images/black.png) no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;
  vertical-align: middle;

 

  .title {
    position: relative;
    top: 20%;
    z-index: 2;
  }
  h4 {
    color: $RoseGold;
    line-height: 30px;
    letter-spacing: 0.6em;
    text-anchor: $Yellow;
    text-transform: uppercase;
    top: 10%;
  }
  h1 {
    font-family: $Raleway;
    color: $RoseGold;
    text-shadow: 1px 1px $DarkSlate;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    font-size: 4em;
    font-weight: 800;
    margin: 0 auto 2% auto;
  }

  p {
    letter-spacing: 0.2em;
    font-family: $Raleway;
    color: $RoseGold;
    width: 50%;
    margin: auto;
    line-height: 1.4em;
    max-width: 560px;
  }

  ul {
    z-index: 2;
    list-style-type: none;
    font-family: $Raleway;
    position: relative;
    top: 20%;
    margin: auto;
    width: 50%;
    max-width: 580px;
    height: auto;
    padding: 10px 5px;

    li {
      @include links;

      a {
        @include linksA;
      }
    }
    li:hover {
      @include hover;
      a {
        animation-name: changeColor;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes slide {
  from {
    background: $DeepMatteGrey;
  }
  to {
    box-shadow: 4px 4px black;
    transform: translatex(5%);
    background-color: $Yellow;
  }
}
@keyframes changeColor {
  to {
    color: black;
  }
}
.video1 {
  position: absolute;
  top: 0;
  height: 70%;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 15%;
  height: 50%;
  right: 0;
}
.video2 {
  position: absolute;
  top: 40%;
  height: 70%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 80%;
  z-index: 1;
  height: 50%;
  right: 0;
}
