@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

$Yellow: #feda6a;
$SilverFox: #d4d4dc;
$DeepMatteGrey: #393f4d;
$DarkSlate: #1c1d21;
$RoseGold: #bd8c7d;

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;



// Colors 
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;