@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

$Yellow: #feda6a;
$SilverFox: #d4d4dc;
$DeepMatteGrey: #393f4d;
$DarkSlate: #1c1d21;
$RoseGold: #bd8c7d;

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
