@mixin links {
  text-align: start;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3px 0;
  padding: 10px;
  border: 1px solid black;
  background: $DeepMatteGrey;
}

@mixin linksA {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.7em;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: $RoseGold;
  text-decoration: none;
}

@mixin hover {
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
